<!DOCTYPE html>
<html>
  <head>
    <title>PayrollApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
